@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
section{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #0062be;
   transition: 0.5s;
}
header{
   position: absolute;
   top: 0;
   left: 0;
   width:100% ;
   padding: 20px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   font-size: 30px;
   margin-bottom: 10px;
   line-height: 1.5em;
   font-weight: 900;
}

.logo{
   position: relative;
   max-width: 80px;
}
ul{
   position: relative;
   display: flex;
}
li{
   list-style: none;
}
li a {
   display: inline-block;
   color: #fff;
   font-weight: 400;
   margin-left: 40px;
   text-decoration: none;
}
li a:hover {
  color: #0f0f10;
  transition: transform 0.2s ease; 
  transform: scale(1.2); 
}

.content{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.textbox{
   position: relative;
   max-width: 600px; 
}
h2{
   color: #fff;
   font-size: 4em;
   margin-bottom: 10px;
   line-height: 1.5em;
   font-weight: 900;
   text-transform:uppercase;
}
h2 span{
   font-size: 2em;
   font-weight: 700;
}
p{
   color:#fff;
}
.textbox a{
   display: inline-block;
   margin-top:20px;
   padding: 8px 20px;
   background: #fff;
   color: #111;
   border-radius: 40px;
   font-weight: 500;  
}
.textbox a:hover{
   background: #121212;
   color: #dad2d2;
   transition: transform 1s ease;
   transform: scale(1.3);
}
.imgbox{
   width: 600px;
   display: flex;
   justify-content: flex-end;
   padding-right: 50px;
   margin-top: 50px;
}
.imgbox img{
   max-width:260px;
}
.thumb{
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
   display: flex;
}
.thumb li{
   list-style:none;
   display: inline-block;
   margin: 0 20px;
   cursor: pointer;
   transition: 0.5s;
}
.thumb li:hover{
   transform: translateY(-15px);

}
.thumb li img{
   max-width: 60px;
}
.sci{
   position: absolute;
   top: 50%;
   right: 30px;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.sci li{
   list-style: none;
   max-width: 40px; 
}
.sci li a{
   display: inline-block;
   filter: invert(1);
   margin: 5px 0;
   transform: scale(0.6);
}
.sci li a:hover{
  transform: translateY(-15px);
  transform: translateX(-15px);
  filter: invert(0);
}
@media (max-width: 991px){
  .section{
     padding: 40px;
     padding-bottom: 140px;
  }
  
  header{
    padding: 20px 40px;
  }
  header .logo{
    position: relative;
    max-width: 60px;
  }
  header ul{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
    transition: 0.2s;  
    visibility: hidden;
    opacity: 0;
    display: none;
    font-weight: 100;
    font-size: 10px;
  }
  header ul.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    padding-top: 130px;
    padding-right: 20px;
  }
  header ul li a{
    display: inline-block;
    color: #ede8e8;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
  }
  header ul li a:hover{
    color: #0f0f10;
  }
  .toggleMenu{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    z-index:2 ;
    cursor: pointer;
  }
  .toggleMenu.active{
    background: url(close.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  }
  .content{
    flex-direction: column;
    margin-top: 80px;
  }
  .content .textbox{
    position: relative;
    max-width: 100%;
    padding-right: 20px;
  }
  .content .textbox h2{
    color: #fff;
    font-size: 3em;
    
  }
  .content .textbox a {
    font-size: 14px;
    background: #fff;
  }
  .content .imgbox{
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
  }
  .content .imgbox {
      width: 600px;
      padding-bottom: 140PX;
  }
  
}
